extends ../../layouts/default.pug
block head 
  link(rel="stylesheet", href="/admin/css/Create.css") 
block sidebar
block content
  .form-create
    h1 Edit Product
    form(enctype="multipart/form-data", id="EditProductForm")
      label(for="name") Product Name:
      input#name(type="text",value=product.product_name, name="name", required)
      label(for="description") Mô tả:
      textarea#description(name="description", rows="4", cols="50", placeholder="Nhập mô tả ở đây...") #{product.description}
      label(for="quantity") Quantity:
      input#quantity(type="number", name="quantity",value=product.quantity, required)
      label(for="price") Price:
      input#price(type="number", step="0.01",value=product.Price, name="price", required)
      label(for="image") Product Image:
      input#image(type="file", name="image", accept="image/*")
      img.preview(src=product.img)
      input(type="submit", value="Cập Nhật")
      script(type="module", src="/admin/js/products/Edit.js") 
      script(type="application/javascript", src="/tinymce/tinymce.min.js")
      script(type="application/javascript", src="/admin/js/tinymce-config.js")

