head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Grocery Mart
  link(rel="stylesheet", href="/client/home/assets/css/listFeatured.css")
  //  Favicon 
  link(rel="apple-touch-icon", sizes="76x76", href="/client/home/assets/favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/client/home/assets/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/client/home/assets/favicon/favicon-16x16.png")
  link(rel="manifest", href="/client/home/assets/favicon/site.webmanifest")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#ffffff")
  //  Fonts 
  link(rel="stylesheet", href="/client/home/assets/fonts/stylesheet.css")
  //  Styles 
  link(rel="stylesheet", href="/client/home/assets/css/main.css")
  //  Scripts 
  script(src="/client/home/assets/js/scripts.js")
  //  Header 
body

  //  Header 
  include ../../layouts/header.pug
  .main(style="margin-bottom:30px")
    .container
      .div(style="flex:1;display:flex" )
        div(style="padding:13px")
          .sidebar
            h2 Bộ lọc
            .price-filter
              h3 Mức giá
              a(href="javascript:;" class="filter-item")
                input#price1(type="checkbox" filter-price value="0-1000000")
                label(for="price1") Dưới 1 triệu
              a(href="javascript:;" class="filter-item" )
                input#price2(type="checkbox" filter-price value="1000000-3000000")
                label(for="price2") 1 đến 3 triệu
              a(href="javascript:;" class="filter-item" )
                input#price3(type="checkbox" filter-price value="3000000-5000000")
                label(for="price3") 3 đến 5 triệu
              a(href="javascript:;" class="filter-item")
                input#price4(type="checkbox" filter-price value="5000000-1000000000")
                label(for="price4") Trên 5 triệu
        .col-md-7.col-9
          .sort-bar(style="align-items:center")
            span(style=" padding: 5px 15px 5px 0;") Ưu tiên xem:
            div
              each item in Sort
                a(href="javascript:;",class=`sort-option ${item.class}`,value=`${item.sortKey}-${item.sortValue}`) #{item.name}
          if(Featured_Product.length===0)
            div Không có dữ liệu
          else
            div
              .row.row-cols-4.row-cols-lg-2.row-cols-sm-1.g-3
                //  Product card 1

                each item, index in Featured_Product
                  .col
                    article.product-card
                      .product-card__img-wrap
                        a(href=`/product/${item.slug}`)
                          img.product-card__thumb(src=item.img, alt)
                      h3.product-card__title
                        a(href="./product-detail.html") #{item.product_name}
                      p.product-card__brand Lavazza
                      .product-card__row
                        span.product-card__price #{cost[index]} VNĐ
                        img.product-card__star(src="/client/home/assets/icons/star.svg", alt)
                        span.product-card__score 4.3
  ///footer
  footer#footer.footer
  script.
    load("#footer", "/client/home/templates/footer.html");
  script(type="module", src="/client/home/assets/js/Featured_Product.js") 
    
  