mixin category(items, level=1)
  each item,index in items
    - const prefix=Array(level + 1).join('--&nbsp;&nbsp;')
    tr
      td
        label(for)
        input.checkbox(type="checkbox" name="id" value=item._id)
      td #{ item.index }
      td
        img(src=item.img, alt="")
      td 
        a(href=``)!= prefix + item.category_name
      td 
        if(item.status ==="active")
          a(href="javascript:;",change-status="",data-status=item.status,data-id=item._id, class="badge badge-success" ) Hoạt Động
        else
          a(href="javascript:;",change-status="",data-status=item.status,data-id=item._id, class="badge badge-danger") Dừng Hoạt Động
      td
        a(href=`${prefixAdmin}/category/edit/${item._id}` class=" btn btn-warning btn-sm m-1 fix") Sửa 
        button(value=item._id).btn.btn-danger.btn-sm.m-1.delete Xóa
      if item.children && item.children.length>0
        +category(item.children, level+1) 
//- nav(style="margin-left:35px;padding-bottom:15px")
        //- phân trang 
        //- ul(class="pagination")
        //-     if(ObjectPagination.currentPage > 1)
        //-       li.page-item
        //-           button.page-link(type="button", button-pagination=ObjectPagination.currentPage-1) Trang trước
        //-     if (ObjectPagination.currentPage === 1) 
        //-       //- Khi ở trang 1, hiển thị nút 1, 2, 3
        //-       - for (var i = 1; i <= 3; i++)
        //-           li(class=`page-item ${ObjectPagination.currentPage === i ? 'active' : ''}`)
        //-             button.page-link(type='button', button-pagination=i) #{i}
        //-     else if(ObjectPagination.currentPage === ObjectPagination.TotalPage) 
        //-       //- Khi ở trang cuối, hiển thị 2 nút cuối
        //-       - var startPage = Math.max(ObjectPagination.TotalPage - 2, 1); // Đảm bảo không nhỏ hơn 1
        //-       - for (var i = startPage; i <= ObjectPagination.TotalPage; i++)
        //-           li(class=`page-item ${ObjectPagination.currentPage === i ? 'active' : ''}`)
        //-             button.page-link(type='button', button-pagination=i) #{i}  
        //-     else if(ObjectPagination.currentPage !== ObjectPagination.TotalPage&&ObjectPagination.currentPage !==1)
        //-       - var maxpage=ObjectPagination.currentPage+1;
        //-       - for (var i = ObjectPagination.currentPage-1; i <=maxpage ; i++)
        //-           li(class=`page-item ${ObjectPagination.currentPage == i ? "active" :""}`)
        //-             button.page-link(type="button", button-pagination=i) #{i}
        //-     if(ObjectPagination.currentPage<ObjectPagination.TotalPage)        
        //-       li.page-item
        //-         button.page-link(type="button", button-pagination=ObjectPagination.currentPage+1) Trang sau
