include ../../mixins/list-product.pug
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  title Grocery Mart
  //  Favicon 
  link(rel="apple-touch-icon", sizes="76x76", href="/client/home/assets/favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/client/home/assets/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/client/home/assets/favicon/favicon-16x16.png")
  link(rel="manifest", href="/client/home/assets/favicon/site.webmanifest")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#ffffff")
  //  Fonts 
  link(rel="stylesheet", href="/client/home/assets/fonts/stylesheet.css")
  //  Styles 
  link(rel="stylesheet", href="/client/home/assets/css/main.css")
  include ../../layouts/head.pug
  //  Scripts 
  script(src="/client/home/assets/js/scripts.js")
  //  Header 
body

  //  Header 
  #header.header
    include ../../layouts/header.pug
  main.checkout-page
    .container
      //  Search bar 
      .checkout-container
        .search-bar.d-none.d-md-flex
          input.search-bar__input(type="text", name, placeholder="Search for item")
          button.search-bar__submit
            img.search-bar__icon.icon(src="./assets/icons/search.svg", alt)
      //  Breadcrumbs 
      .checkout-container
        ul.breadcrumbs.checkout-page__breadcrumbs
          li
            a.breadcrumbs__link(href="./")
              | Home

              img(src="./assets/icons/arrow-right.svg", alt)
          li
            a.breadcrumbs__link.breadcrumbs__link--current(href="#!") Checkout
      //  Checkout content 
      .checkout-container
        .row.gy-xl-3
          .col-8.col-xl-12
            if(productCart.length>0)
              .cart-info
                .cart-info__list
                  //  Cart item  
                  each item, index in productCart
                    article.cart-item
                      a(href=`product/${item.slug}`)
                        img.cart-item__thumb(src=item.img, alt)
                      .cart-item__content
                        .cart-item__content-left
                          h3.cart-item__title
                            a(href=`product/${item.slug}`).
                              
                              #{item.product_name}
                              
                          p.cart-item__price-wrap
                            | ₫#{costs[index]} | 
                            span.cart-item__quantity Số lượng: #{item.quantity}
                          .cart-item__ctrl.cart-item__ctrl--md-block
                            .cart-item__input
                              button.cart-item__input-btn
                                img.icon(src="./client/home/assets/icons/minus.svg", alt)
                              span #{count[index]} 
                              button.cart-item__input-btn
                                img.icon(src="./client/home/assets/icons/plus.svg", alt)
                        .cart-item__content-right
                          p.cart-item__total-price ₫#{costs[index]}
                          .cart-item__ctrl
                            button.cart-item__ctrl-btn
                              img(src="./client/home/assets/icons/heart-2.svg", alt)
                              | Save

                            a(toggle-target="#delete-confirm" href=`/cart/delete/${item._id}`).cart-item__ctrl-btn.js-toggle
                              img(src="./client/home/assets/icons/trash.svg", alt)
                              | Delete
                .cart-info__bottom.d-md-none
                  .row
                    .col-8.col-xxl-7
                      .cart-info__continue
                        a.cart-info__continue-link(href="./")
                          img.cart-info__continue-icon.icon(src="./client/home/assets/icons/arrow-down-2.svg", alt)
                          | Continue Shopping

                    .col-4.col-xxl-5
                      .cart-info__row
                        span Subtotal:
                        span ₫#{total}
                      .cart-info__row
                        - var totalNumber=parseInt(total.replace(/\./g, ''));
                        - var shipping = totalNumber * 0.01
                        span Shipping:
                        span ₫#{shipping.toLocaleString("vi-VN")}
                      .cart-info__separate
                      .cart-info__row.cart-info__row--bold
                        - var EstimatedTotal = totalNumber + shipping
                        span Total:
                        span ₫#{EstimatedTotal.toLocaleString("vi-VN")}
          if(productCart.length>0)
            .col-4.col-xl-12
              .cart-info
                .cart-info__row
                  span
                    | Subtotal 
                    span.cart-info__sub-label (items)
                  span #{miniCart}
                .cart-info__row
                  span
                    | Price 
                    span.cart-info__sub-label (Total)
                  span ₫#{total}
                .cart-info__row
                  span Shipping
                  span ₫#{shipping.toLocaleString("vi-VN")}
                .cart-info__separate
                .cart-info__row
                  span Estimated Total
                  span ₫#{EstimatedTotal.toLocaleString("vi-VN")}
                a.cart-info__next-btn.btn.btn--primary.btn--rounded(href="./shipping.html").
                  
                  Continue to checkout
                  
              .cart-info
                a(href="#!")
                  article.gift-item
                    .gift-item__icon-wrap
                      img.gift-item__icon(src="./client/home/assets/icons/gift.svg", alt)
                    .gift-item__content
                      h3.gift-item__title Send this order as a gift.
                      p.gift-item__desc.
                        
                        Available items will be shipped to your gift recipient.
        if(productCart.length==0)
          .cart-content
            .empty-cart-message.
              
              Không có sản phẩm nào
                  
                      
  //  Footer 
  footer#footer.footer
  script.
    load("#footer", "./client/home/templates/footer.html");
  script(type="module", src="./client/home/assets/js/Cart.js") 
    
  //  Modal: confirm remove shopping cart item 
  //- #delete-confirm.modal.modal--small.hide
  //-   .modal__content
  //-     p.modal__text Do you want to remove this item from shopping cart?
  //-     .modal__bottom
  //-       button.btn.btn--small.btn--outline.modal__btn.js-toggle(toggle-target="#delete-confirm").
          
  //-         Cancel
          
  //-       button.btn.btn--small.btn--danger.btn--primary.modal__btn.btn--no-margin.js-toggle(toggle-target="#delete-confirm").
          
  //-         Delete
          
  //-   .modal__overlay.js-toggle(toggle-target="#delete-confirm")