include ../mixins/sub-menu.pug
.container
  .top-bar
    //  More 
    button.top-bar__more.d-none.d-lg-block.js-toggle(toggle-target="#navbar")
      img.icon.top-bar__more-icon(src="/client/home/assets/icons/more.svg", alt)
    //  Logo 
    a.logo.top-bar__logo(href="/home")
      img.logo__img.top-bar__logo-img.logo(src=setting.logo, alt="grocerymart")
      h1.logo__title.top-bar__logo-title #{setting.websiteName}
    //  Navbar 
    nav#navbar.navbar.hide
      button.navbar__close-btn.js-toggle(toggle-target="#navbar")
        img.icon(src="/client/home/assets/icons/arrow-left.svg", alt)
      a.nav-btn.d-none.d-md-flex(href="./checkout.html")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/buy.svg", alt)
        span.nav-btn__title Cart
        span.nav-btn__qnt 3
      a.nav-btn.d-none.d-md-flex(href="#!")
        img.nav-btn__icon.icon(src="/client/home/assets/icons/heart.svg", alt)
        span.nav-btn__title Favorite
        span.nav-btn__qnt 3
      ul.navbar__list.js-dropdown-list
        li.navbar__item
          a(href="/home") Trang Chủ
        li(class="").nav-menu
          .menu-item.brand.has-submenu
            - const path = "/product"
            a(href=path) Sản phẩm
            +sub-menu(newCategory, path)
        li 
          div(style="padding-left: 20px;") 
            a(href="/chat").fa-regular.fa-message 
              span #{unread_count}
    .navbar__overlay.js-toggle(toggle-target="#navbar")
    //  Actions 
    .top-act
      .d-md-none.top-act__group--single
        form(action="/search",method="GET")
          div(class="form-group d-flex mb-0")
            input(type="text" class="form-control" style="width:200px" name="keyword" placeholder="Nhập từ khóa...")
            button(type="submit" class=" btn btn-primary") Tìm
      .top-act__group.d-md-none
        .top-act__btn-wrap
          //  Dropdown 
          .act-dropdown
            .act-dropdown__inner
              img.act-dropdown__arrow(src="/client/home/assets/icons/arrow-up.png", alt)
              .act-dropdown__top
                h2.act-dropdown__title You have #{miniCart} item(s)
                a.act-dropdown__view-all(href="./favourite.html") 
              .row.row-cols-3.gx-2.act-dropdown__list
                //  Cart preview item 1 
                .col
                  article.cart-preview-item
                    .cart-preview-item__img-wrap
                      img.cart-preview-item__thumb(src="/client/home/assets/img/product/item-1.png", alt)
                    h3.cart-preview-item__title Lavazza Coffee Blends
                    p.cart-preview-item__price $329.00
                  
                  Check Out All
                  
        .top-act__separate
        .top-act__btn-wrap
          button.top-act__btn
            img.icon.top-act__icon(src="/client/home/assets/icons/buy.svg", alt)
            span.top-act__title #{miniCart}
          //  Dropdown 
          .act-dropdown
            .act-dropdown__inner
              img.act-dropdown__arrow(src="/client/home/assets/icons/arrow-up.png", alt)
              .act-dropdown__top
                h2.act-dropdown__title You have #{miniCart} item(s)
                a.act-dropdown__view-all(href="/cart") See All
              .row.row-cols-3.gx-2.act-dropdown__list
                //  Cart preview 
                if(productCart)
                  each item in productCart
                    .col
                      article.cart-preview-item
                        .cart-preview-item__img-wrap
                          img.cart-preview-item__thumb(src=item.img, alt="Sản Phẩm")
                        h3.cart-preview-item__title #{item.product_name}
                else 
                  .col
                    article.cart-preview-item
                      .cart-preview-item__img-wrap
                        img.cart-preview-item__thumb()
                      h3.cart-preview-item__title 
              .act-dropdown__checkout
                a.btn.btn--primary.btn--rounded.act-dropdown__checkout-btn(href="./checkout.html").
                  
                  Check Out All
                    
      .top-act__user
        img.top-act__avatar(src=user.img, alt)
        //  Dropdown 
        .act-dropdown.top-act__dropdown
          .act-dropdown__inner.user-menu
            img.act-dropdown__arrow.top-act__dropdown-arrow(src="./assets/icons/arrow-up.png", alt)
            .user-menu__top
              img.user-menu__avatar(src=user.img, alt)
              div
                p.user-menu__name #{user.name}
                p #{user.email}
            ul.user-menu__list
              li
                a.user-menu__link(href="/user/profile") Profile
              li
                a.user-menu__link(href="./favourite.html") Favourite list
              li.user-menu__separate
                a.user-menu__link#switch-theme-btn(href="#!")
                  span Dark mode
                  img.icon.user-menu__icon(src="./assets/icons/sun.svg", alt)
              li
                a.user-menu__link(href="#!") Settings
              li.user-menu__separate
                a.user-menu__link(href="/user/logout") Logout